@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&family=Lato:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
    --color-vino: #6E1825;
    --color-dorado: #C7A86C;
    --color-crema: #F2EADF;
    --color-carbon: #3C4430;
    --color-oliva: #7D8C5A;

    --font-serif: "Playfair Display", serif;
    --font-sans: "Lato", sans-serif;
}

/* Animación para mensajes de error */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}